/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Franklin", sans-serif;
  --font-sans: "Libre Franklin";
}
body {
  font-family: "Cormorant Garamond", serif;
  --font-serif: "Cormorant Garamond";
}
